.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-weight: bold;
    color: #003A74;
}

.card-text {
    font-size: 1.1em;
    margin-bottom: 10px;
    color: #333;
}